@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    background-color: rgb(77, 77, 77);
    margin-top: 4rem;
    padding: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    color:white;
}
.tiles{
    margin:3rem auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    gap:1rem;
}
.tile{
    height:10rem;
    background-color: rgb(32, 32, 32);
    border: 3px solid rgb(68, 68, 68);
}